<div class="wrapper-paginator">
	<div class="options-paginator">
		<select
			class="pagination-size"
			(change)="onChangeSize($event)"
			id="select-pagination-size"
			aria-label="select pagination"
		>
			<ng-container *ngFor="let size of listPageSize; index as i">
				<option [selected]="i === 0" [value]="size">
					{{ size }}
				</option>
			</ng-container>
		</select>
		<p class="paginator-total-result">{{ collectionSize }} Resultados</p>
	</div>

	<ng-container *ngTemplateOutlet="paginator" />
</div>

<ng-template #paginator>
	<nav class="custom-paginator">
		<ul class="pagination">
			<!-- first button -->
			<li [class]="currentPage === 1 ? 'page-item disabled' : 'page-item'" *ngIf="firstLastButtons">
				<button class="button page-link" (click)="selectPageNumber(1)">««</button>
			</li>
			<!-- previous button -->
			<li
				[class]="currentPage === 1 ? 'page-item disabled' : 'page-item'"
				*ngIf="nextPreviousButtons"
			>
				<button class="button page-link" (click)="previous()">«</button>
			</li>
			<!-- page numbers -->
			<ng-container *ngFor="let p of totalPages; index as i">
				<li
					*ngIf="i + 1 >= currentPage - maxSize && i + 1 <= currentPage + maxSize"
					[class]="currentPage === i + 1 ? 'page-item active' : 'page-item'"
				>
					<button class="button page-link" (click)="selectPageNumber(i + 1)">
						{{ i + 1 }}
					</button>
				</li>
			</ng-container>
			<!-- next button -->
			<li
				[class]="currentPage === totalPages.length ? 'page-item disabled' : 'page-item'"
				*ngIf="nextPreviousButtons"
			>
				<button class="button page-link" (click)="next()">»</button>
			</li>
			<!-- last button -->
			<li
				[class]="currentPage === totalPages.length ? 'page-item disabled' : 'page-item'"
				*ngIf="firstLastButtons"
			>
				<button class="button page-link" (click)="selectPageNumber(totalPages.length)">»»</button>
			</li>
		</ul>
	</nav>
</ng-template>
