input,
select,
textarea {
	width: 100%;
	max-width: 100%;
	border: 1px solid;
	border-radius: 0.25rem;
	margin: 0;
	padding: 12px 16px;
	outline: 0;
	text-align: inherit;
	font: inherit;
	font-size: 16px;
	box-shadow: unquote('0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06)');
	color: currentColor;
	border-color: #e2e8f0;
	background-color: white;

	&::placeholder {
		color: #a0aec0;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	&:focus {
		border-color: #3b90ff !important;
	}

	&[disabled] {
		color: #ccc;
		cursor: not-allowed;
		pointer-events: none;
		border-color: #f0f0f0;
		background-color: #f0f0f0;
	}

	&.ng-invalid.ng-dirty,
	&.ng-invalid.ng-touched {
		border-color: #f56565 !important;
		color: #f56565;

		&.focused {
			border-color: #f74a4a;
		}
	}
}

.form-buttons {
	justify-content: center;
	.button {
		margin-right: 3rem;
		margin-left: 2rem;
	}
}

.form-control {
	width: 300px;
}

.form-group {
	justify-content: center;
	border-radius: 5px;
	flex-direction: row;
	display: flex;
}

@media (max-width: 720px) {
	.form-group {
		flex-direction: column;
		.button {
			margin: auto;

			margin-top: 2rem;
			justify-content: center;
		}
	}
}

.input-group {
	display: flex;
	flex-direction: column;
	label {
		font-weight: 700;
		color: black;
		margin-bottom: 8px;
	}
	margin: 2rem;
}

.error {
	font-weight: 600;
	color: #f56565;
}

.is-loading {
	padding-right: 36px;

	background-image: url('/assets/svg/spinner.svg');
	background-repeat: no-repeat;
	background-position: right 8px center;
}
