<main class="container table">
	<form class="form-group">
		<input
			class="form-control"
			type="search"
			aria-label="search"
			placeholder="Buscar"
			[formControl]="filter"
		/>
		<button class="button primary-button" style="margin-left: auto" type="button">
			<span class="icon icon-plus"></span>Agregar
		</button>
	</form>

	<table class="rwd-table">
		<tbody>
			<tr>
				<th *ngFor="let column of displayedColumns">
					{{ column }}
				</th>
			</tr>

			<tr
				*ngFor="
					let product of listProduct()
						| slice
							: (pagination.currentPage - 1) * pagination.pageSize
							: pagination.currentPage * pagination.pageSize
				"
			>
				<td data-th="ID">
					{{ product.id }}
				</td>

				<td data-th="Nombre">
					{{ product.name }}
				</td>

				<td data-th="Descripcion">
					{{ product.description }}
				</td>

				<td data-th="Logo">
					<img [src]="product.logo" height="35" />
				</td>

				<td data-th="Fecha Liberación">
					{{ product.date_release | date : 'YYYY/MM/dd' : '+0000' }}
				</td>

				<td data-th="Fecha Restructuración">
					{{ product.date_revision | date : 'YYYY/MM/dd' : '+0000' }}
				</td>

				<td data-th="Acciones" class="table-actions">
					<div class="dropdown">
						<button type="button" class="dropdown-button">Opciones</button>
						<div class="dropdown-content">
							<span class="icon icon-edit" [routerLink]="['update', product.id]"></span>
							<span
								class="icon icon-delete"
								appConfirmDialog
								title="Eliminar Registro"
								[message]="'¿Esta seguro de eliminar el producto ' + product.name + ' ?'"
								(confirm)="confirmDelete(product.id)"
							></span>
						</div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>

	<app-pagination
		class="paginator-responsive"
		#pagination
		[pageSize]="5"
		[collectionSize]="listProduct().length"
		[maxSize]="2"
		[firstLastButtons]="true"
	/>
</main>
