.form-group {
	display: flex;
	flex-direction: row;
	width: 80%;
	margin-bottom: 1.5rem;

	.button {
		margin-left: auto;
	}
}

.form-control {
	width: 300px;
}

.paginator-responsive {
	width: 80%;
	@media (max-width: 400px) {
		width: 100%;
	}
}

@media (max-width: 600px) {
	.form-group {
		flex-direction: column;
		.button {
			margin: auto;
			margin-top: 2rem;
		}
	}
}
