<main class="container table">
	<form class="form-group">
		<input
			data-test="input-search-product"
			class="form-control"
			type="search"
			aria-label="search"
			placeholder="Buscar"
			[formControl]="filter"
		/>
		<button
			class="button primary-button button-add"
			type="button"
			routerLink="create"
			data-test="btn-add"
		>
			<span class="icon icon-plus"></span>Agregar
		</button>
	</form>

	<table class="rwd-table">
		<tbody>
			<tr>
				<th *ngFor="let column of displayedColumns" data-test="table-column">
					{{ column }}
				</th>
			</tr>

			<tr
				*ngFor="
					let product of listProduct()
						| slice
							: (pagination.currentPage - 1) * pagination.pageSize
							: pagination.currentPage * pagination.pageSize
				"
			>
				<td data-th="Logo">
					<img [src]="product.logo" height="35" width="65" alt="product logo" />
				</td>

				<td data-th="ID">
					{{ product.id }}
				</td>

				<td data-th="Nombre">
					{{ product.name }}
				</td>

				<td data-th="Descripcion">
					{{ product.description }}
				</td>

				<td data-th="Fecha Liberación">
					{{ product.date_release | date : 'YYYY/MM/dd' : '+0000' }}
				</td>

				<td data-th="Fecha Restructuración">
					{{ product.date_revision | date : 'YYYY/MM/dd' : '+0000' }}
				</td>

				<td data-th="Acciones" class="table-actions">
					<div class="dropdown">
						<button
							data-test="btn-dropdown"
							type="button"
							class="dropdown-button"
							aria-label="dropdown-options"
						>
							<div class="dropdown-content" data-test="dropdown-content">
								<span
									data-test="btn-edit"
									class="icon icon-edit"
									[routerLink]="['update', product.id]"
								></span>
								<span
									data-test="btn-delete"
									class="icon icon-delete"
									appConfirmDialog
									title="Eliminar Registro"
									[message]="'¿Esta seguro de eliminar el producto ' + product.name + ' ?'"
									(confirm)="confirmDelete(product.id)"
								></span>
							</div>
						</button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>

	<app-pagination
		class="paginator-responsive"
		#pagination
		[pageSize]="5"
		[collectionSize]="listProduct().length"
		[maxSize]="2"
		[firstLastButtons]="true"
	/>
</main>
