<main class="container">
	<h1 class="form-title">Editar Registro</h1>
	<hr class="w-full" />

	<form>
		<div class="form-group">
			<div class="input-group">
				<label for="id">ID</label>
				<input type="text" placeholder="ID" class="form-control" />
			</div>

			<div class="input-group">
				<label for="name">Nombre</label>
				<input type="text" placeholder="Tarjeta Credito" class="form-control" />
			</div>
		</div>

		<div class="form-group">
			<div class="input-group">
				<label for="description">Descripción</label>
				<input type="text" placeholder="Descripción" class="form-control" />
			</div>
			<div class="input-group">
				<label for="logo">Logo</label>
				<input type="text" placeholder="Logo" class="form-control" />
			</div>
		</div>

		<div class="form-group">
			<div class="input-group">
				<label for="date_release">Fecha Liberación</label>
				<input type="date" placeholder="Fecha Liberacion" class="form-control" />
			</div>
			<div class="input-group">
				<label for="date_revision ">Fecha Revisión</label>
				<input type="date" placeholder="Fecha Revision" class="form-control" />
			</div>
		</div>

		<div class="flex flex-row form-buttons">
			<button class="button secondary-button" type="button">Reiniciar</button>
			<button class="button primary-button" type="button">Editar</button>
		</div>
	</form>
</main>
