footer {
	font-size: 14px;
	min-height: 50px;
	min-width: 100%;
	background-color: whitesmoke;
	overflow: hidden;
	margin-top: 3rem;
	text-align: center;
}

.copyrights {
	margin-top: 3rem;
	color: black;
	font-family: 'Quicksand';
	font-weight: 500;
}
